
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">
            
            <div class="col-lg-12">
                <h3 class="text-justify">We at ValueEnable, understand the pain that comes with every lapse of a policy. Our founding members have gone through the rigmarole of acquiring and retaining a customer from scratch and hence, we have come together and created a value enabler that drives persistency for the life insurance companies.</h3>
            </div>
            
            <div class="col-lg-12 pt-4 pt-lg-0">
                <h2>Some Hard Facts</h2>
               
                <ul>
                    <li><i class="ri-check-double-line"></i> More than half of the customers lapse their policy within the first 5 years of buying them
                    </li>
                    <li><i class="ri-check-double-line"></i> The private life insurance industry paid a staggering INR 56,000 crs and LIC paid INR 71,000 crs of surrender benefit in the year FY’20 
                    </li>
                    <li><i class="ri-check-double-line"></i> This is a growth of 15% over the previous year and almost 70% of the new business premium that they collected for the year</li>
                </ul>
                
               
            </div>
        </div>
        <div class="row content">
      
            <div class="col-lg-12 pt-4 pt-lg-0">
                
                
                <p class="text-justify">
                    We understand that low persistency has been plaguing the life insurance industry for decades. While the focus on persistency has increased recently within the industry, no one has really cracked it!
                </p>

                <p class="text-justify">
                    Today’s persistency management solutions, especially the outsourced activities, follow a one size fits all approach, where the scope of work is generally limited.
                </p>

                <p class="text-justify">
                    To overcome these challenges, we’re building a company with an endeavour to provide a comprehensive solution fully dedicated to the life insurance industry.
                    Our persistency management solution comprises of three key pillars:
                </p>

                <ul>
                    <li><i class="ri-check-double-line"></i> Customer retention through embedded value prioritised renewal calling using advanced analytics. In-built rewards mechanism for timely premium payment by policyholders.
                    </li>
                    <li><i class="ri-check-double-line"></i> Marketplace for Policy loan distribution 
                    </li>
                    <li><i class="ri-check-double-line"></i> Industry’s first platform for Policy assignment</li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- End About Section -->

<div class="container">
    <my-tabs>
        <my-tab tabTitle="SV Quote">
            <app-enquirquote></app-enquirquote>
        </my-tab>
        <!-- <my-tab tabTitle="Upload SV Quote">
            <app-comingsoon></app-comingsoon>
        </my-tab> -->
        <my-tab tabTitle="Fetch From Policy Number">
            <app-policynumberform></app-policynumberform>
        </my-tab>
    </my-tabs>
</div>