<div class="container">
    <!-- <div class="ml-5 mb-1"><span class="badge badge-warning">Step {{Step}} of 2 </span></div> -->

    <div class="enquiryform" *ngIf="Step === 1">
        <p>Please Enter Details for Eligibility Check.</p>
        <form *ngIf="!IsEligible" [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
            <div class="group">
                <div class="col-sm-12 col-md-12 group-header" (click)="Expand.personaldetail = !Expand.personaldetail">
                    Personal Details :<span style="float: right;">
                        <i *ngIf="Expand.personaldetail" class="fa fa-minus-circle" aria-hidden="true"></i>
                        <i *ngIf="!Expand.personaldetail" class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </div>
                <div class="group-content">
                    <div class="container">
                        <div class="form-row" [style.display]="Expand.personaldetail ? 'flex' : 'none'">
                            <div class="form-group col-sm-12 col-md-4">
                                <label>Name</label>
                                <input formControlName="name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name required</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-3">
                                <label>Mobile</label>
                                <input formControlName="mobile" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobile.errors.required">Mobile required</div>
                                    <div *ngIf="f.mobile.errors.pattern">Mobile is invalid</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-3">
                                <label>Email</label>
                                <input type="text" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.pattern">Email is invalid</div>
                                </div>
                            </div>

                            <div class="form-group col-sm-12 col-md-3">
                                <label>DoB</label>
                                <input type="text" formControlName="dob" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" placeholder="yyyy-mm-dd"
                                    name="dp1" ngbDatepicker #dob="ngbDatepicker" (click)="dob.toggle()" />
                                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                    <div *ngIf="f.dob.errors.required">DoB is required</div>
                                </div>
                            </div>

                            <div class="form-group col-sm-12 col-md-3">
                                <label>Age</label>
                                <input formControlName="age" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                                <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                                    <div *ngIf="f.age.errors.required">Age required</div>
                                    <div *ngIf="f.age.errors.pattern">Age is invalid</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="col-sm-12 col-md-12 group-header" (click)="Expand.policydetail = !Expand.policydetail">
                    Policy Details :
                    <span style="float: right;">
                        <i *ngIf="Expand.policydetail" class="fa fa-minus-circle" aria-hidden="true"></i>
                        <i *ngIf="!Expand.policydetail" class="fa fa-plus-circle" aria-hidden="true"></i></span>
                </div>
                <div class="group-content">
                    <div class="container">
                        <div class="form-row" [style.display]="Expand.policydetail ? 'flex' : 'none'">
                            <div class="form-group col-sm-12 col-md-4">
                                <label>Product Name </label>
                                <input type="text" formControlName="productname" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.productname.errors }" />
                                <div *ngIf="submitted && f.productname.errors" class="invalid-feedback">
                                    <div *ngIf="f.productname.errors.required">Product Name is required</div>
                                </div>
                            </div>

                            <div class="form-group col-sm-12 col-md-1">
                                <label>Premium</label>
                                <input formControlName="premium" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.premium.errors }" />
                                <div *ngIf="submitted && f.premium.errors" class="invalid-feedback">
                                    <div *ngIf="f.premium.errors.required">Premium required</div>
                                    <div *ngIf="f.premium.errors.pattern">Premium is invalid</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-1">
                                <label>RCD</label>
                                <input formControlName="rcd" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.rcd.errors }" />
                                <div *ngIf="submitted && f.rcd.errors" class="invalid-feedback">
                                    <div *ngIf="f.rcd.errors.required">RCD required</div>
                                    <div *ngIf="f.rcd.errors.pattern">RCD is invalid</div>
                                </div>
                            </div>


                            <div class="form-group col-sm-12 col-md-1">
                                <label>SA</label>
                                <input formControlName="sa" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.sa.errors }" />
                                <div *ngIf="submitted && f.sa.errors" class="invalid-feedback">
                                    <div *ngIf="f.sa.errors.required">SA required</div>
                                    <div *ngIf="f.sa.errors.pattern">SA is invalid</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-1">
                                <label>PPT</label>
                                <input formControlName="ppt" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.ppt.errors }" />
                                <div *ngIf="submitted && f.ppt.errors" class="invalid-feedback">
                                    <div *ngIf="f.ppt.errors.required">PPT required</div>
                                    <div *ngIf="f.ppt.errors.pattern">PPT is invalid</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-1">
                                <label>PT</label>
                                <input formControlName="pt" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.pt.errors }" />
                                <div *ngIf="submitted && f.pt.errors" class="invalid-feedback">
                                    <div *ngIf="f.pt.errors.required">PT required</div>
                                    <div *ngIf="f.pt.errors.pattern">PT is invalid</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-2">
                                <label>Surrender Value</label>
                                <input formControlName="surrendervalue" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.surrendervalue.errors }" />
                                <div *ngIf="submitted && f.surrendervalue.errors" class="invalid-feedback">
                                    <div *ngIf="f.surrendervalue.errors.required">Surrender Value required</div>
                                    <div *ngIf="f.surrendervalue.errors.pattern">Surrender Value is invalid</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-1">
                                <label>Accrued/RB</label>
                                <input formControlName="accruedrb" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.accruedrb.errors }" />
                                <div *ngIf="submitted && f.accruedrb.errors" class="invalid-feedback">
                                    <div *ngIf="f.accruedrb.errors.required">Accrued RB required</div>
                                    <div *ngIf="f.accruedrb.errors.pattern">Accrued RB is invalid</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <label>Calculation Date</label>
                                <input type="text" formControlName="calculationdate" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.calculationdate.errors }"
                                    placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #calculationdate="ngbDatepicker"
                                    (click)="calculationdate.toggle()" />
                                <div *ngIf="submitted && f.calculationdate.errors" class="invalid-feedback">
                                    <div *ngIf="f.calculationdate.errors.required">Calculation Date is required</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <label>Last Premium Date</label>
                                <input type="text" formControlName="lastpremiumdate" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastpremiumdate.errors }"
                                    placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #lastpremiumdate="ngbDatepicker"
                                    (click)="lastpremiumdate.toggle()" />
                                <div *ngIf="submitted && f.lastpremiumdate.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastpremiumdate.errors.required">Last Premium Date is required</div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-md-4">
                                <label>Last Premium Due Date</label>
                                <input type="text" formControlName="lastpremiumduedate" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.lastpremiumduedate.errors }"
                                    placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker
                                    #lastpremiumduedate="ngbDatepicker" (click)="lastpremiumduedate.toggle()" />
                                <div *ngIf="submitted && f.lastpremiumduedate.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastpremiumduedate.errors.required">Last Premium Due Date is required
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-outline-warning mr-2" type="reset" (click)="onReset()">Reset</button>
                <button class="btn btn-warning mr-2" type="submit">Check Eligibility</button>
            </div>
        </form>
    </div>
    <div *ngIf="Step === 2 && IsEligible" class="mt-4">
        <span style="color: green;">{{CompletedResponse.message}}</span>
        <br>
        <br>
        <button type="button" class="btn btn-outline-warning mr-3" (click)="goBack()">Check Another</button>
        <button type="button" class="btn btn-outline-warning">Proceed</button>
    </div>

    <div *ngIf="Step == 2 && !IsEligible" class="mt-4">
        <p><span style="color: red;">{{CompletedResponse.message}} !!</span>
            Please <button type="button" class="btn btn-link ml-2 mr-2">Contact Us</button> or
            <button type="button" class="btn btn-link ml-2 mr-2" (click)="goBack()">Try Again</button>
        </p>
    </div>
</div>