<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-12">
                <h2>We Offer /How it Stacks-up</h2>
                <h3>Plus I think quotes are very effective to better yourself because they help your mind focus on
                    particular
                    topics at a time</h3>
            </div>
            <div class="col-lg-12 pt-4 pt-lg-0">
                <p>
                    <strong>Customer Retention </strong><br>
                    Whereas insurers’ focus primarily on adding new customers by pressuring their sales force, they tend
                    to neglect customer retention, which costs 80% less than acquiring new ones. The insurance business
                    is increasingly becoming more customer centric. Changing customer preferences along with the
                    evolution of dynamic channels and environments has made it mandatory for insurers to design products
                    and services that match customer expectations. Using various analytical tools to predict and
                    understand key drivers which impact customers’ premium-paying behaviour is imperative to survive in
                    the fast changing and very competitive insurance industry.

                    We, at ValuEnable, understand this and have developed analytical models to serve the exact same
                    purpose. Our Actuarial expertise also helps you understand how each extra Rupee of Renewal premium
                    impacts the bottom line in terms of Embedded Value for the company.

                </p>
                <p>
                    <strong>Policy Loan Marketplace</strong><br>
                    Policy Loan is one of the most commonly used tools for averting surrenders globally. The private
                    life insurance industry has recently warmed up to the potential of policy loans and the market has
                    been growing at a CAGR of xx% for the last 3 years.

                    LIC has always been active in issuing Policy loans and the loan book stood at INR 31.2 lac crs as at
                    Mar’20

                    We use policy loans as one of the important tools to avert surrenders. To start with, we pitch the
                    insurance company’s own policy loan feature, in absence of which we divert the customer to our
                    policy loan marketplace, wherein they can choose from a list of lending institutes to avail the loan
                    from.
                    Banks & other lenders have always been more than willing to extend a loan against an insurance
                    policy given its secured nature. The current process, however, restricts the smooth issuance of
                    policy loans and hence has been an impediment to its growth. With multiple insurance companies as
                    partners, our digital platform completely democratizes the loan issuance process making it possible
                    for any lender to issue a loan against any life insurance policy!
                    From an insurance company perspective, since Unit Linked products, which have formed bulk of the
                    past sales and hence current surrenders, do not have a policy loan feature, an access to a dedicated
                    platform for Policy loans has unparalleled advantages for reigning in surrenders.
                    Our End2End digital processing platform ensures the loan is disbursed within 10 minutes, making the
                    life insurance contract a truly liquid asset for the policyholder!


                </p>
                <p>
                    <strong>Policy Assignment Platform</strong><br>
                    We like to call this our secret sauce. When traditional retention approaches fail and the customer
                    still decides to surrender, we put the policy on our platform for further assignment. Technically,
                    this works as follows -> the policyholder instead of surrendering the policy to a life insurance
                    company would assign it to a third party for a similar financial consideration and the assignee then
                    continues paying the future premiums to the insurance company. This provides policyholders with
                    easier liquidity and the policy stays on the insurer books without the insurer having paid any
                    surrender benefits, effectively a win-win for both the policyholder as well as the Insurer.

                    Well, that’s not all, we make the proposition further lucrative for the policyholder by keeping
                    their death benefit intact to some extent under the contract.

                    Please note the assignee/third party at any point cannot further assign the policies to anyone else
                    and so effectively there is ‘no trading’ of policies as is required by amended section 38 of
                    Insurance Act, 1938 (2015 Amendment). All our persistency management solutions have been validated
                    by India’s top-most lawyers, Khaitan & Co from a legal and compliance standpoint.

                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->