<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-6">
                <h2>What we do</h2>
                <h3>Plus I think quotes are very effective to better yourself because they help your mind focus on
                    particular
                    topics at a time</h3>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    So whether it’s for self-motivation, your next t-shirt design or simply for your Instagram bio,
                    this collection of short quotes is full of powerful ideas packed into tiny little packages of
                    words.
                    They have made a profound positive impact in my life and I’m sure they will make one in yours as
                    well.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Never regret anything that made you smile. – Mark Twain
                    </li>
                    <li><i class="ri-check-double-line"></i> Everything you can imagine is real. – Pablo Picasso
                    </li>
                    <li><i class="ri-check-double-line"></i> Whatever you do, do it well. – Walt Disney</li>
                </ul>
                <p class="font-italic">
                    Have enough courage to start and enough heart to finish. Hate comes from intimidation, love
                    comes from
                    appreciation.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->