<div class="container">
    <div *ngIf="step === 1">
        <div class="form-group" style="width:25%">
            <label>Policy Number <span *ngIf="company" class="label-box">Company
                    :&nbsp;<strong>{{company}}</strong></span></label>
            <input type="number" [(ngModel)]="policynumber" class="form-control" />
        </div>
        <button class="btn btn-warning mr-2" (click)="checkForPolicy()">Fetch</button>
    </div>

    <div *ngIf="step === 2 && IsEligible" class="mt-4">
        <span style="color: green;">{{CompletedResponse.message}}</span>
        <br>
        <br>
        <button type="button" class="btn btn-outline-warning mr-3" (click)="goBack()">Check Another</button>
        <button type="button" class="btn btn-outline-warning">Proceed</button>
    </div>

    <div *ngIf="step == 2 && !IsEligible" class="mt-4">
        <p><span style="color: red;">{{CompletedResponse.message}} !!</span>
            Please <button type="button" class="btn btn-link ml-2 mr-2">Contact Us</button> or
            <button type="button" class="btn btn-link ml-2 mr-2" (click)="goBack()">Try Again</button>
        </p>
    </div>
</div>